<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{place.place.name}}</h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <!-- main image -->
            <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Place Description</h3>
            <p>{{place.place.description}}</p>
            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>

    <!-- <div id="map"></div> -->

    <div class="row my-4">

    <div *ngFor="let image of place.place.images">
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img style="width:400px; height:400px;" src="https://drive.google.com/uc?id={{image.imageURL}}">
            </a>
        </div>
    </div>
</div>