.bg-img{
    min-height: 100vh;
   width: 100%;
   background: url('D:\GitHub\vtgw\VarnaTravelGuideFE_angular\src\assets\imgs\Azure_Blue_Sea_Background-775.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }

   @import url("navigation.css");