<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{place.place.name}}</h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <div *ngFor="let image of place.place.images">
                <div class="col-md-3 col-sm-6 mb-4" *ngIf="image.mainImage">
                    <a href="#">
                        <img style="width:500px; height:400px;" src="https://drive.google.com/uc?id={{image.imageURL}}">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h2 class="my-3">Place Description</h2>
            <p style="font-size:medium">{{place.place.description}}</p>
            <h2 class="my-3">Project Details</h2>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>

            <div class="row">
                <div class="col">
                    <h2>Price category: </h2>
                </div>
                <div class="col">
                    <p *ngIf="place.place.priceCategoryDescription === 'COMBINED'" style="font-size:medium">
                        No price category
                    </p>
                    <p *ngIf="place.place.priceCategoryDescription === 'BUDGET'" style="font-size:medium">
                            <img  width="40" height="40" src="assets\imgs\dollarSign.jpg"/>
                        </p>
                    <p *ngIf="place.place.priceCategoryDescription === 'MID_RANGE'" style="font-size:medium">
                        <img  width="40" height="40" src="assets\imgs\dollarSign.jpg"/>
                        <img  width="40" height="40" src="assets\imgs\dollarSign.jpg"/>
                    </p>
                    <p *ngIf="place.place.priceCategoryDescription === 'PREMIUM'" style="font-size:medium">
                        <img  width="40" height="40" src="assets\imgs\dollarSign.jpg"/>
                        <img  width="40" height="40" src="assets\imgs\dollarSign.jpg"/>
                        <img  width="40" height="40" src="assets\imgs\dollarSign.jpg"/>
                    </p>
                </div>
            </div>
            <button class="my-4" mat-raised-button color="primary" (click)="deletePlace()">Delete place</button>
        </div>
    </div>

    <google-map
        height="450px"
        width="550px"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="click($event)"
        class="my-4">
        <map-marker
            #markerElem
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            (mapClick)="openInfo(markerElem, marker.info)">
        </map-marker>
        <map-info-window>{{ infoContent }}</map-info-window>
    
    </google-map>
    
    <div class="my-3">
        <button class="mx-3" mat-raised-button (click)="zoomIn()">Zoom in</button>
        <button  mat-raised-button (click)="zoomOut()">Zoom out</button>
    </div>
    
    <div class="row my-4">
        <div style="margin-left: 10px;" *ngFor="let image of place.place.images">
            <div class="col-md-3 col-sm-6 mb-4" *ngIf="!image.mainImage">
                <img style="width:400px; height:400px; " src="https://drive.google.com/uc?id={{image.imageURL}}">
            </div>
        </div>
    </div>

</div>
    