<div style="height: 100vh;">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="mx-4">Varna Travel Guide</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">

        <a class="main-menu" [matMenuTriggerFor]="menu" mat-button>
          <mat-icon>menu</mat-icon>
          Type of place
        </a>

        <mat-menu #menu="matMenu">
          <a href="/list-places/landmarks" mat-button>
            <mat-icon>landscape</mat-icon>
            Landmarks
          </a>
          <a href="/list-places/hotels" mat-button>
            <mat-icon>hotel</mat-icon>
            Hotels
          </a>
          <a href="/list-places/restaurants" mat-button>
            <mat-icon>local_dining</mat-icon>
            Restaurants
          </a>
          <span class="example-spacer"></span>
          <a href="/list-places/shoppingPlaces" mat-button>
            <mat-icon>shopping_cart</mat-icon>
            Shopping places
          </a>
        </mat-menu>

        <a onMouseOver="this.style.color='#F6F5F6'" class="main-menu" href="/list-places/all" mat-button>
          <mat-icon>landscape</mat-icon>
          All places
        </a>
        <a onMouseOver="this.style.color='#F6F5F6'" class="main-menu" href="/profile-describer" mat-button>
          <mat-icon>account_box</mat-icon>
          My Account
        </a>
        <a class="main-menu" *ngIf="!isAuthenticated" (click)="oktaAuth.loginRedirect()" mat-button>
          <mat-icon>login</mat-icon>
          Login
        </a>
        <a class="main-menu" *ngIf="isAuthenticated" (click)="oktaAuth.logout()" mat-button>
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <mat-nav-list>
        <div fxLayout="column">
          <a [matMenuTriggerFor]="menu" mat-button>
            <mat-icon>menu</mat-icon>
            Type of place
          </a>
          <a href="/list-places/all" mat-button>
            <mat-icon>landscape</mat-icon>
            All places
          </a>
          <a href="/profile-describer" mat-button>
            <mat-icon>account_box</mat-icon>
            My Account
          </a>
          <a *ngIf="!isAuthenticated" (click)="oktaAuth.loginRedirect()" mat-button>
            <mat-icon>account_box</mat-icon>
            Login
          </a>
          <a *ngIf="isAuthenticated" (click)="oktaAuth.logout()" mat-button>
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </a>
          <a (click)="sidenav.toggle()" mat-button>
            <mat-icon>close</mat-icon> Close
          </a>
          
          <mat-menu #menu="matMenu">
            <a href="/list-places/landmarks" mat-button>
              <mat-icon>landscape</mat-icon>
              Landmarks
            </a>
            <a href="/list-places/hotels" mat-button>
              <mat-icon>account_box</mat-icon>
              Hotels
            </a>
            <a href="/list-places/restaurants" mat-button>
              <mat-icon>account_box</mat-icon>
              Restaurants
            </a>
            <a href="/list-places/shoppingPlaces" mat-button>
              <mat-icon>account_box</mat-icon>
              Shopping places
            </a>
          </mat-menu>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>