p {
    font-family: Lato;
    font-size: medium;
  }
  
  .example-card {
    max-width: 400px;
    margin: 6px
  }
  
  .example-header-image {
    background-image: 
        url('src\assets\imgs\default-avatar-profile-icon.jpg');
    background-size: cover;
  }