<div fxLayout="row wrap">
        <mat-card  *ngFor="let place of allPlaces" class="example-card" fxFlex="auto">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{place.place.name}}</mat-card-title>
              <mat-card-subtitle>Date posted</mat-card-subtitle>
            </mat-card-header>
                 <div *ngFor="let image of place.place.images">
                    <!-- style="margin-top:20px;" width:200px; height: 200px" -->
                      <img style="margin-top:20px;" mat-card-image *ngIf="image.mainImage == 1" 
                                  src="https://drive.google.com/uc?id={{image.imageURL}}" />
                  </div>
            <mat-card-content>
              <p>
               {{place.place.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button [routerLink]="['/place-describer', place.place.typeOfPlace, place._id]" mat-button>Show place details</button>
            </mat-card-actions>
          </mat-card>
</div>